body{
    font-family: Arial, sans-serif;
    background:#3498db;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:25px;
    border-radius:10px;
    width:350px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

h2{
    margin-bottom:20px;
}

input[type="number"],
input[type="text"]{
    width:100%;
    padding:10px;
    margin:10px 0;
    font-size:16px;
}

.options{
    text-align:left;
    margin:15px 0;
}

button{
    width:100%;
    padding:10px;
    margin-top:10px;
    background:#3498db;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#2980b9;
}